<p>Optional summary here</p>

<h2>Current Review</h2>
<ul>
  <li><a href="https://uncover-livingreview.shinyapps.io/schoolreview/">Version 1</a></li>
</ul>

<h3>Previous Versions</h3>
<ul>
  <li><em>This site will be updated as research continues</em></li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <b>Authored by:</b>
    <a href="https://www.ed.ac.uk/profile/wei-xu">Wei Xu</a>, Xue Li, Marshall Dozier, Yazhou He, Amir Kirolos, Zhongyu Lang, Catherine Mathews, Nandi Siegfried, Evropi Theodoratou on behalf of UNCOVER
  </li>
</ul>
