<p>Brief summary</p>

<h2>Versions</h2>
<ul>
  <li><a href="https://duckduckgo.com/">Version 1</a></li>
  <li>Version 2 (forthcoming)</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://duckduckgo.com/">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    Authored by:
    <a href="https://duckduckgo.com/">Wei Xu</a>, Xue Li, Marshall Dozier, Yazhou He, Amir Kirolos, Zhongyu Lang, Catherine Mathews, Nandi Siegfried, Evropi Theodoratou on behalf of UNCOVER
  </li>
</ul>
